<%- include('_includes/header', { siteConfig, post }); -%>

<article class="mar-b-7">
    <header class="text-center">
        <time class="mar-b-6" datetime="<%- post.date %>"><%- post.date %></time>
        <h1 class="mar-b-7"><%- post.title %></h1>
    </header>
    <%- post.html %>
</article>

<%- include('_includes/newsletter', { siteConfig }) %>
<%- include('_includes/footer', { siteConfig }) %>

<% if (post.navigation && post.navigation.length) { %>
<nav class="post-nav">
    <ul class="post-nav-list">
        <% post.navigation.forEach(function(item) { %>
            <li>
                <a href="<%- item.href %>"><%- item.body %></a>
            </li>
        <% }) %>
    </ul>
</nav>
<% } %>
V3
<%- JSON.stringify(post, null, 2) %>